# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, e.g. out of `go test -coverprofile=coverage.out`
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
# Only uncomment if you do not want to commit your vendor directory
# vendor/

# Go workspace file
go.work
go.work.sum

# VS Code specific files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local environment variables
.env
